.example-spacer {
    flex: 1 1 auto;
  }
  
  .brand {
    font-weight: 100;
    font-size: 24px;
  }
  
  .btn {
    margin: 5px;
    border-radius: 0;
  }
  
  .main-header {
    font-weight: 100;
    text-align: center;
  }